{% load i18n %}
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'blog/style_b.css' %}">
        <link rel="stylesheet" href="{% static 'blog/liliacgrey.css' %}">
        <link rel="stylesheet" href="{% static 'blog/w3.css' %}">
    </head>
    <body>
    <div class="page-header w3-theme-d4">
            <div class="date">
                <div class="btn-group">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'blogindex' %}" class="w3-button">Blog </a>
                        <a href="{% url 'dossierfolder' 1 %}" class="w3-button">{% trans "Fichiers" %}</a>
                        <a href="{% url 'entreesystemes' %}" class="w3-button"> {% trans "Accueil" %}</a>
                        <input name="next" type="hidden" value="{{ index }}" />
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                                <input type="submit" class="w3-button w3-theme-l1" name="language" value="{{ language.code }}" />
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'logout' %}" class="w3-button"> Logout</a>
                    </form>
                </div>
            </div>
         <h1>Blog</h1>
        </div>
<div class="wrap">
  <div class="left_col">
      {% block content %}
      {% endblock %}
  </div>

</div>
        <div class="footer">
            <div class="footergauche">
              {% block pagination %}
                <a href="https://github.com/Malijai/observatoire/" class="date" ><img src="/static/images/GitHub-Mark-Light-32px.png"></a>
              {% endblock %}
             </div>
        </div>
    </body>
</html>
